body {
  margin: 0;
  background-color: rgb(14, 230, 53);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading{
  color:cd sr rgb(80, 190, 16);
  text-align: center;
  padding-top: 50px;
  font-size: 80px;
  font-weight:100;
}


h3{
  color: white;
}

.field{
  font-size: 25x;
  border-radius: 15px;
  text-align: center;
}
.calc{
  color:green;
  font-weight: bold;
  font-size: 20px;
  border-radius: 2px;
}

.content{
  text-align: center;
  padding-top: 20px;
  font-size:30px;
}
